<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <h1 class="fw-bold text-center">Registration</h1>
  <div class="col-10 col-sm-8 col-lg-6"></div>
  <div class="col-lg-6" *ngFor="let product of products">
    <h2 class="display-5 lh-1 mb-3">{{ product.name }}</h2>
    <h4>{{ product.price | currency }}</h4>
    <p class="lead">{{ product.description }}</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button
        type="button"
        class="btn btn-primary btn-lg px-4"
        (click)="addToCart(product)"
        routerLink="/register"
  
      >
        Add to cart
      </button>
    </div>
  </div>
  <!-- <button
    type="button"
    class="btn btn-primary btn-lg px-4"
    routerLink="/register"
  >
    Next
  </button> -->
</div>
