<section class="about">
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <div>
          <h5>ABOUT</h5>
          <h3>Who We Are</h3>

          <p class="my-2">
            Welcome to our gym! We are dedicated to providing you with a
            comprehensive and rewarding fitness experience. Our gym is equipped
            with state-of-the-art equipment, a wide range of classes, and
            knowledgeable trainers who are committed to helping you achieve your
            fitness goals. Whether you are looking to lose weight, build muscle,
            increase endurance, or simply maintain a healthy lifestyle, our gym
            has everything you need to succeed.
          </p>

          <p class="my-5">
            At our gym, we believe that fitness is not just about physical
            strength, but also about mental wellness. That's why we offer a
            variety of classes and programs that focus on both physical and
            mental health. From yoga and meditation classes to high-intensity
            interval training and strength training, we have something for
            everyone. Our gym is a community of individuals who are passionate
            about health and wellness, and we welcome you to join us on your
            fitness journey. Come and see what we're all about and start your
            journey to a healthier, happier you!
          </p>
        </div>
      </div>
      <div class="col">
        <div>
          <img
            class="about-pic"
            src="https://stackblitz.com/files/angular-ivy-f54yve/github/RockyBndc/papaj-gym/main/src/app/img/about-pic.jpg"
            alt="about pic"
          />
        </div>
      </div>
    </div>
  </div>
</section>
