<section class="gallery" id="gallery">
  <div class="container">
    <div class="text-center">
      <h5>GALLERY</h5>
      <h3>Memory Lane</h3>
      <span class="sub-title">Best Moments happened Here at Papa J's</span>
    </div>

    <div class="tz-gallery">
      <div class="row my-4">
        <div class="col">
          <a class="lightbox" href="images/collection-hau4.jpg">
            <img
              src="images/collection-hau4.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="images/collection-haup1.jpg">
            <img
              src="images/collection-haup1.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="images/collection-haup2.jpg">
            <img
              src="images/collection-haup2.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <a class="lightbox" href="images/collection-hau3.jpg">
            <img
              src="images/collection-hau3.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="images/collection-haup3.jpg">
            <img
              src="images/collection-haup3.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="images/collection-hau1.jpg">
            <img
              src="images/collection-hau1.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <a class="lightbox" href="images/collection-usc3.jpg">
            <img
              src="images/collection-usc3.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="images/collection-haup4.jpg">
            <img
              src="images/collection-haup4.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="images/collection-hau2.jpg">
            <img
              src="images/collection-hau2.jpg"
              alt="N/A"
              style="width: 350px;"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
